#account-page {
    min-height: 80vh;
}

.user-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.account-right-part {
    border: 1px solid #00000026;
    border-radius: 5px;
}

#account-page {
    padding: 30px 0;
}

#account-page .nav-link {
    text-align: left;
    color: #00000091;
}

#account-page .nav-link.active {
    color: blue;
    background: #2874f087;
}

/* .profile-img-update{
    background-color: red;
} */
.profile-img-update:hover {
    border: 0;
}

.profile-img-upload::file-selector-button {
    background: #DBE9F9;
}